Welcome to Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-1039-aws x86_64)
                                         
	  .   .                        .      .    
	  |   |                       _|_     |    
	  |---| .-. .,-. .--. .-. .-.  |   .-.|--. 
	  |   |(   )|   )`--.(   (   ) |  (   |  | 
	  '   ' `-' |`-' `--' `-' `-'  `-' `-''  `-
	            |                              
	            '                              

################################################################
#         	Hopscotch.in SSH Server
#         	Host:	  {{ inventory_hostname }}
#         	Ip Address: {{ ansible_default_ipv4.address }}
#
#               UNAUTHORIZED ACCESS IS FORBIDDEN
#
#   This server uses your domain password for authentication
#   If you lock your account out please contact the DevOps team
#   Hey😱, I just 🙋 you, but here's my 📲, so 📞 me, maybe?
################################################################
#
# To 🐝 , or not to 🐝 : that is the question... 
# To take 💪 against a 🌊 of troubles, and by opposing, end them?
#
################################################################
